---
import Mycard from "../components/Mycard.astro";
---

<meta charset="UTF-8" />
<body>
    <Mycard name="brj" major="新闻学" />
</body>
<style>
    body {
        background-color: aqua;
    }
</style>
